doctype
html
    head
        meta(charset="utf-8")
        link(href="css/bulma/bulma.css" rel="stylesheet" type="text/css")
        link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css")
        title
            |Організатор
    body(style= "background-image: url(images/cover.jpg); height:100vh;")
    include array.pug
    div(class="wrapper")
        div(class="wrapper-content" style="max-width: 450px; margin: auto;background-color: white; border-radius: 10px 10px 10px 10px;")
            div(class="column" style="margin:auto")
                div(class="field is-expanded")
                        a(class="button is-info search" style="min-width: 100%;" href="filters/all.html")
                            |Показати всіх
                nav(class="pagination is-rounded" role="navigation" aria-label="pagination" style="padding: 25px 0;")
                    label(class="label")
                        | Рейтинг
                    ul(class="pagination-list" )
                        li(style="margin:auto")
                            a(class="button is-outlined star-1" style="border-radius: 18px;" href="filters/1-star.html")
                                | 1
                        li(style="margin:auto")
                            a(class="button is-outlined star-2" style="border-radius: 18px;" href="filters/2-star.html")
                                | 2
                        li(style="margin:auto")
                            a(class="button is-outlined star-3" style="border-radius: 18px;" href="filters/3-star.html")
                                | 3
                        li(style="margin:auto")
                            a(class="button is-outlined star-4" style="border-radius: 18px;" href="filters/4-star.html")
                                | 4
                        li(style="margin:auto")
                            a(class="button is-outlined star-5" style="border-radius: 18px; " href="filters/5-star.html")
                                | 5
                label(class="label" style="text-align:center")
                    | Музичні напрямки
                ul(class="menu-list" style="text-align: center")
                    each item in unique(arr())
                        li
                            a(href="filters/"+item+".html")=item





